.lbr-simpleTable{
    height: 80vh !important;
    overflow-y: scroll;
    padding-right: 1rem;
}

.tab-container{
    width: 70vw!important;
}

.lbr-simpleTable tr {
    height: 3rem;
    text-align: center;
}

.pr{
    position: relative;
}