.lbr-simpleTable{
    height: 80vh !important;
    overflow-y: scroll;
    padding-right: 1rem;
}

.tab-container{
    width: 70vw!important;
    height: 85vh;
    overdflow: none;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
}

.lbr-simpleTable tr {
    height: 3rem;
    text-align: center;
}

.pr{
    position: relative;
}