form{
    border: 1px solid white;
    width: 30vw;
    height: 45vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 30vh;
    background-color: white;
    
    padding: 2em 2em;
}
.inpt{
    width: 25vw;
}
button{
    margin-left: 8vw;
    color: white !important;
    border: white !important;
    background-color: rgb(67, 67, 199) !important;
}
body{
    background-image: url(../SimpleLogin/photo-1507842217343-583bb7270b66.jpg);
}
