*{
    font-size: 15px !important;
}

html,
body{
    height: 100vh !important;
    overflow: hidden;
}
.app-container{
    max-width: 100vw;
    max-height: 100vh !important;
    overflow: hidden;
}

.c-pointer{
    cursor: pointer;
}

.principal-container{
    position: absolute;
    right: 3rem;
    top: 2rem;
    transition: all .2s;
    height: 82vh;
}
